.toolbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #065aae;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}
.content {
  padding-top: 2cm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.data-card {
  min-width: 40%;
}
.weather {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 90%;
}

.weather h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.weather h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.weather-date {
	background-color: #065aae;
	color: #fff;
	padding: 20px;
	max-width: 250px;
  min-width: 40%;
}

.weather-date a {
	color: #fff;
	display: inline-block;
	opacity: 0.6;
	text-decoration: none;
}
.weather-date i {
	color: rgb(255, 0, 0);
	display: inline-block;
	opacity: 0.6;
	text-decoration: none;
}

.weather-date input {
  padding: 5px;
  font-size: 15px;
  border-width: 1px;
  border-color: #efb7f2;
  background-color: #f4f4f4;
  color: #000000;
  border-style: hidden;
  border-radius: 12px;
  box-shadow: 0px 0px 5px rgba(103,102,104,.55);
  text-shadow: 0px 0px 0px rgba(255,255,255,.0);
}
.weather-info {
	padding: 20px;
	position: relative;
	width: 100%;
}
.weather-info a {
	color: rgb(41, 36, 36);
	display: inline-block;
	opacity: 0.6;
	text-decoration: none;
}
.weather-info input {
  padding: 5px;
  font-size: 15px;
  width: 50px;
  border-width: 1px;
  border-color: #efb7f2;
  background-color: #b3d4f6;
  color: #000000;
  border-style: hidden;
  border-radius: 12px;
  box-shadow: 0px 0px 5px rgba(103,102,104,.55);
  text-shadow: 0px 0px 0px rgba(255,255,255,.0);
}

.user-input {
	background-color: #b3d4f6;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: left;
  align-items: left;
	max-width: 350px;
	margin: 20px;
	overflow: hidden;
	width: 90%;
}
.user-input p {
  padding-left: 20px;
}
.user-input i {
	color: rgb(202, 27, 27);
	display: inline-block;
	opacity: 0.6;
	text-decoration: none;
}

.user-input input {
  padding: 5px;
  margin-top: 10px;
  font-size: 15px;
  border-width: 1px;
  width: 100px;
  border-color: #efb7f2;
  background-color: #f4f4f4;
  color: #000000;
  border-style: hidden;
  border-radius: 12px;
  box-shadow: 0px 0px 5px rgba(103,102,104,.55);
  text-shadow: 0px 0px 0px rgba(255,255,255,.0);
}

.user-input select {
  padding: 5px;
  margin-top: 10px;
  font-size: 15px;
  border-width: 1px;
  width: 100px;
  border-color: #efb7f2;
  background-color: #f4f4f4;
  color: #000000;
  border-style: hidden;
  border-radius: 12px;
  box-shadow: 0px 0px 5px rgba(103,102,104,.55);
  text-shadow: 0px 0px 0px rgba(255,255,255,.0);
}

.user-input select {
  padding: 5px;
  margin-top: 10px;
  font-size: 15px;
  border-width: 1px;
  width: 150px;
  border-color: #efb7f2;
  background-color: #f4f4f4;
  color: #000000;
  border-style: hidden;
  border-radius: 12px;
  box-shadow: 0px 0px 5px rgba(103,102,104,.55);
  text-shadow: 0px 0px 0px rgba(255,255,255,.0);
}

/* CSS Found For Button On https://getcssscan.com/css-buttons-examples With personal adjustments*/
.button-17 {
  margin: 15px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 20px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 15px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

/* End of copied css */
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 100%;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}


.card.card-small {
  height: 16px;
  width: 90%;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
  width: 100%;
}
