<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="50" alt="weather"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7GJMvjEcVIsL-O7TMRGXSUOrYZ7sPAiRUqw&usqp=CAU" />
  <span>Welcome</span>
  <div class="spacer">
  </div>
  <button (click)="form=true">New Entry</button>
  <button (click)="sortMenu=true">Sort</button>
</div>

<div class="content" role="main">
  <!-- Buttons -->

  <!-- Sort -->
  <div *ngIf="sortMenu">
    <p>
      Sort By:
      <select [(ngModel)]="sort" name="sort">
        <option *ngFor="let o of sortBy">
          {{o}}
        </option>
      </select>
    </p>
    <p *ngIf="!selectSort">
      Please select what you want to sort by.
    </p>
    <div *ngIf="order">
      <button (click)="order= !order">Sort By Ascending Order</button>
    </div>
    <div *ngIf="!order">
      <button (click)="order= !order">Sort By Descending Order</button>
    </div>
    <footer>
      <button class="card card-small" (click)="submitSort()">Sort Data</button>
      <button class="card card-small" (click)="sortMenu=false">Close Sort Menu</button>
    </footer>
  </div>
  <!-- Data Card -->
  <h3 class="p-3 text-center">Angular - Display a list of items with ngFor</h3>
  <div *ngIf="!form">
    <table>
      <tr *ngFor="let data of data">
        <div class="data-card">
          <td>Date: {{data.date}}</td>
          <td>Time: {{data.time}}</td>
          <td>Temperature: {{data.temp}}</td>
          <td>Wind: {{data.wind}}</td>
        </div>
      </tr>
    </table>
  </div>
  <!-- User input form -->

  <div *ngIf="form">
      <p>
        Date (format: yyyy-mm-dd):
        <input type="text" [(ngModel)]="date" name="Date">
      </p>
      <p *ngIf="!checkDate">
        Time is not properly formatted.
      </p>
      <p>
        Time (format: 01:00am/pm): <input type="text" [(ngModel)]="time" name="time">
      </p>
      <p *ngIf="!checkTime">
        Time is not properly formatted
      </p>
      <p>
        Temperature:
        <input type="number" [(ngModel)]="temp" name="Temperature">
        ºF
      </p>
      <p>
        Wind Speed:
        <input type="number" [(ngModel)]="wind" name="Wind speed">
        MPH
      </p>
      <footer>
        <button class="card card-small" type="submit" (click)="submit()">Submit</button>
        <button class="card card-small" type="cancel" (click)="form=false">Cancel</button>
      </footer>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>